---
import Layout from "../layouts/Layout.astro";
import Obfuscate from 'react-obfuscate';
import {Button, Divider} from "@udixio/ui"
import home1 from "@assets/images/home-1.png";
import home1Left from "@assets/images/home-1-left.png";
import home1Middle from "@assets/images/home-1-middle.png";
import home1Right from "@assets/images/home-1-right.png";
import home1Stars from "@assets/images/home-1-stars.svg";
import {TextField} from "@udixio/ui";
import {Image} from "astro:assets";
import {StickyScroll} from "@components/sticky-scroll-reveal";
import astroLogo from "@assets/images/astro-logo.svg?raw"
import reactLogo from "@assets/images/react-logo.svg?raw"
import nestLogo from "@assets/images/nest-logo.svg?raw"
import expressLogo from "@assets/images/express-logo.svg?raw"
import tsLogo from "@assets/images/ts-logo.svg?raw"
import {Link} from "@components/Link"
import angularLogo from "@assets/images/angular-logo.svg?raw"
import materialLogo from "@assets/images/material-design-logo.svg?raw"
import framerMotionLogo from "@assets/images/framer-motion-logo.svg?raw"
import sassLogo from "@assets/images/sass-logo.svg?raw"
import layoutResponsive from "@assets/images/Responsive-pana.svg"
import flutterLogo from "@assets/images/flutter-logo.svg?raw"
import astronautOnRocket from "@assets/images/astronaut-on-rocket.webp"
import astronautHugEarth from "@assets/images/astronaut-hug-earth.png"
import astronautFixingRocket from "@assets/images/astronaut-fixing-rocket.png"
import tailwindLogo from "@assets/images/tailwind-logo.svg?raw"
import baseLogo from "@assets/images/base-logo.svg?raw"
import portrait from "@assets/images/portrait.jpg"
import {FormContact} from "@components/FormContact";
import {BackgroundColor} from "@components/BackgroundColor";
import Legacy from "@components/Legacy";
import {Icon} from "@udixio/ui"
import {Card, SmoothScroll} from "@udixio/ui"
import {
    faAddressCard, faChartNetwork,
    faCircle, faCloud,
    faCode, faCodeBranch, faComments, faGears,
    faLaptopMobile,
    faMessageMiddle, faPhone, faProjectDiagram
} from "@fortawesome/pro-light-svg-icons";
import {Techno} from "@components/Techno"
import {faBrowser, faCircleInfo, faEnvelope,} from "@fortawesome/pro-regular-svg-icons";
import {
    faAndroid,
    faApple,
    faGolang,
    faJava,
    faLinux,
    faNodeJs, faPhp,
    faPython, faSymfony,
    faWindows
} from "@fortawesome/free-brands-svg-icons";
import {Line} from '@components/Line'
import {LinearGradient} from "@components/LinearGradient";
import {getCollection} from "astro:content";
import Realisations from "../components/Realisations.astro";
import Mask from "../components/Mask.astro";
import {Background} from "../components/three/Background";
import Logo from "../components/Logo";
import {Hero} from "../components/home/hero";


const realisations = await getCollection('realisation');
realisations.sort((a, b) => (a.data.order ?? Infinity) - (b.data.order ?? Infinity));
---
<Layout seo={{
    title: `Agence de conseil en stratégie digitale écoresponsable & SEO • udixio.fr`,
    description: "Udixio est une agence experte dans la création de sites web éco-conçus et optimisés pour le SEO. Optez pour des solutions digitales durables et performantes.",
}}>


    <Hero client:idle>
        <div class="max-width relative z-0">
            <div class="absolute right-0 -bottom-8 max-w-[80vw]">
                <Image class="" width={400} src={astronautFixingRocket}
                       alt=""></Image>
                <div
                        style={{
                            background: "radial-gradient(ellipse,rgb(var(--colors-tertiary)/0.3) 0%, rgba(0, 0, 0, 0) 50%);"
                        }}
                        class="absolute left-1/2 -translate-x-1/2 blur-xl -bottom-16 w-[800px] h-36 rounded-[50%] -z-10"></div>

            </div>

        </div>

    </Hero>
    <section class="padding-y bg-gradient-to-b from-surface-container-lowest to-transparent pt-32">
        <div class="max-width">
            <div class="padding-x max-w-screen-md xl:-mb-16 mb-8  relative">
                <h2 class="text-headline-small ">L'agence web qui facilite l'accès au digital à tous ceux qui en ont
                    l’envie.
                </h2>
                <p class="mt-4">Nos réalisations parlent d'elles-mêmes. Découvrez un aperçu de projets innovants
                    réalisés
                    par
                    Udixio.</p>
            </div>

            <Realisations max={4}/>
            <Button href={"/nos-realisations"} className="mx-auto mt-8 w-fit" variant="text"
                    label="Voir tous les projets"/>
        </div>

    </section>


    <section class="padding relative pt-32 min-h-screen z-10">
        <Background className="-z-10 !h-full overflow-hidden" client:visible/>
        <div class="max-width mx-auto">
            <h2 class="text-display-large text-display-small text-center max-w-screen-sm mx-auto">Les sites Udixio sont
                conçus pour durer
                !</h2>
            <div class="grid lg:flex lg:max-w-full max-w-screen-md gap-y-8 mx-auto lg:grid-cols-4 grid-cols-2 lg:gap-24  flex-wrap justify-evenly mt-12 lg:mt-24 ">

                {
                    ['Performance', "Accessibilité", "", "Fiabilité", "Référencement"].map((text) => {


                            if (text == "") {
                                return (
                                        <div class="lg:block hidden"></div>)
                            }
                            return (
                                    <div class="lg:pt-16 relative">
                                        <p class="text-title-large lg:text-headline-small lg:absolute top-4 text-center left-1/2  lg:-translate-x-1/2 lg:-translate-y-1/2">{text}</p>
                                        <div class="mx-auto mt-4 lg:mt-0 sm:w-32 w-24 flex aspect-square items-center justify-center rounded-full border-8 border-green-400 bg-green-900/50 backdrop-blur">

                                            <p class="text-green-400 text-display-small">
                                                100
                                            </p>

                                        </div>
                                    </div>)
                        }
                    )
                }

            </div>
            <div class="relative md:-translate-y-1/3 -z-10">

                <Image width="475" class="animate-float mx-auto -z-10 max-w-full  relative " src={astronautHugEarth}
                       alt="Astronaute se déplaçant sur une fusée"></Image>

            </div>


        </div>

    </section>


</Layout>