---
import Layout from "../layouts/Layout.astro";
import Obfuscate from 'react-obfuscate';
import {Button, Divider} from "@udixio/ui"
import home1 from "@assets/images/home-1.png";
import home1Left from "@assets/images/home-1-left.png";
import home1Middle from "@assets/images/home-1-middle.png";
import home1Right from "@assets/images/home-1-right.png";
import home1Stars from "@assets/images/home-1-stars.svg";
import {TextField} from "@udixio/ui";
import {Image} from "astro:assets";
import {StickyScroll} from "@components/sticky-scroll-reveal";
import astroLogo from "@assets/images/astro-logo.svg?raw"
import reactLogo from "@assets/images/react-logo.svg?raw"
import nestLogo from "@assets/images/nest-logo.svg?raw"
import expressLogo from "@assets/images/express-logo.svg?raw"
import tsLogo from "@assets/images/ts-logo.svg?raw"
import {Link} from "@components/Link"
import angularLogo from "@assets/images/angular-logo.svg?raw"
import materialLogo from "@assets/images/material-design-logo.svg?raw"
import framerMotionLogo from "@assets/images/framer-motion-logo.svg?raw"
import sassLogo from "@assets/images/sass-logo.svg?raw"
import layoutResponsive from "@assets/images/Responsive-pana.svg"
import flutterLogo from "@assets/images/flutter-logo.svg?raw"
import tailwindLogo from "@assets/images/tailwind-logo.svg?raw"
import baseLogo from "@assets/images/base-logo.svg?raw"
import portrait from "@assets/images/portrait.jpg"
import {FormContact} from "@components/FormContact";
import {BackgroundColor} from "@components/BackgroundColor";
import Legacy from "@components/Legacy";
import {Icon} from "@udixio/ui"
import {Card, SmoothScroll} from "@udixio/ui"
import {
    faAddressCard, faChartNetwork,
    faCircle, faCloud,
    faCode, faCodeBranch, faComments, faGears,
    faLaptopMobile,
    faMessageMiddle, faPhone, faProjectDiagram
} from "@fortawesome/pro-light-svg-icons";
import {Techno} from "@components/Techno"
import {faBrowser, faCircleInfo, faEnvelope,} from "@fortawesome/pro-regular-svg-icons";
import {
    faAndroid,
    faApple,
    faGolang,
    faJava,
    faLinux,
    faNodeJs, faPhp,
    faPython, faSymfony,
    faWindows
} from "@fortawesome/free-brands-svg-icons";
import {Line} from '@components/Line'
import {LinearGradient} from "@components/LinearGradient";
import {getCollection} from "astro:content";
import Realisations from "../components/Realisations.astro";


const realisations = await getCollection('realisation');
realisations.sort((a, b) => (a.data.order ?? Infinity) - (b.data.order ?? Infinity));
---
<Layout seo={{
    title: `Agence de conseil en stratégie digitale écoresponsable & SEO • udixio.fr`,
    description: "Udixio est une agence experte dans la création de sites web éco-conçus et optimisés pour le SEO. Optez pour des solutions digitales durables et performantes.",
}}>


    <section id="" class="relative z-20 pt-20 ">
        <div class="max-width min-h-[75vh] padding-x flex items-center justify-center">
            <div class="flex items-center flex-col">
                <p class="text-title-medium text-on-surface-variant">Site vitrine - e-commerce - portfolio</p>
                <h1 class="text-display-small md:text-display-large text-center max-w-4xl mt-4">On construit des
                    sites web <span
                            class="text-gradient">irresistible</span> à des tarifs accessible</h1>
                <p class="mt-8 text-body-large mx-auto max-w-xl text-center">Nous créons votre page d'accueil.<br/>
                    Convaincu ? On continue.<br/> Sinon, c'est gratuit.</p>
                <Button href="#contact" className="w-fit mt-12 scale-125" label="Travailler ensemble"/>
            </div>

        </div>
        <!--<LinearGradient nextTheme="purple"/>-->
    </section>
    <section>
        <Realisations/>
        <Button href={"/nos-realisations"} className="mx-auto mt-8 w-fit" variant="text"
                label="Voir tous les projets"/>
    </section>
    <!--<Legacy realisations={realisations} client:load></Legacy>-->

    <style is:global>
        .grecaptcha-badge {
            visibility: hidden;
        }
    </style>


</Layout>