---
import Layout from "../layouts/Layout.astro";
import Obfuscate from 'react-obfuscate';
import {Button, Divider} from "@udixio/ui"
import home1 from "@assets/images/home-1.png";
import home1Left from "@assets/images/home-1-left.png";
import home1Middle from "@assets/images/home-1-middle.png";
import home1Right from "@assets/images/home-1-right.png";
import home1Stars from "@assets/images/home-1-stars.svg";
import {TextField} from "@udixio/ui";
import {Image} from "astro:assets";
import {StickyScroll} from "@components/sticky-scroll-reveal";
import astroLogo from "@assets/images/astro-logo.svg?raw"
import reactLogo from "@assets/images/react-logo.svg?raw"
import nestLogo from "@assets/images/nest-logo.svg?raw"
import expressLogo from "@assets/images/express-logo.svg?raw"
import tsLogo from "@assets/images/ts-logo.svg?raw"
import {Link} from "@components/Link"
import angularLogo from "@assets/images/angular-logo.svg?raw"
import materialLogo from "@assets/images/material-design-logo.svg?raw"
import framerMotionLogo from "@assets/images/framer-motion-logo.svg?raw"
import sassLogo from "@assets/images/sass-logo.svg?raw"
import layoutResponsive from "@assets/images/Responsive-pana.svg"
import flutterLogo from "@assets/images/flutter-logo.svg?raw"
import tailwindLogo from "@assets/images/tailwind-logo.svg?raw"
import baseLogo from "@assets/images/base-logo.svg?raw"
import portrait from "@assets/images/portrait.jpg"
import {FormContact} from "@components/FormContact";
import {BackgroundColor} from "@components/BackgroundColor";
import Legacy from "@components/Legacy";
import {Icon} from "@udixio/ui"
import {Card, SmoothScroll} from "@udixio/ui"
import {
    faAddressCard, faChartNetwork,
    faCircle, faCloud,
    faCode, faCodeBranch, faComments, faGears,
    faLaptopMobile,
    faMessageMiddle, faPhone, faProjectDiagram
} from "@fortawesome/pro-light-svg-icons";
import {Techno} from "@components/Techno"
import {faBrowser, faCircleInfo, faEnvelope,} from "@fortawesome/pro-regular-svg-icons";
import {
    faAndroid,
    faApple,
    faGolang,
    faJava,
    faLinux,
    faNodeJs, faPhp,
    faPython, faSymfony,
    faWindows
} from "@fortawesome/free-brands-svg-icons";
import {Line} from '@components/Line'
import {LinearGradient} from "@components/LinearGradient";
import {getCollection} from "astro:content";
import Realisations from "../components/Realisations.astro";
import Mask from "../components/Mask.astro";


const realisations = await getCollection('realisation');
realisations.sort((a, b) => (a.data.order ?? Infinity) - (b.data.order ?? Infinity));
---
<Layout seo={{
    title: `Agence de conseil en stratégie digitale écoresponsable & SEO • udixio.fr`,
    description: "Udixio est une agence experte dans la création de sites web éco-conçus et optimisés pour le SEO. Optez pour des solutions digitales durables et performantes.",
}}>


    <section id="" class="relative pt-20 ">
        <div class="max-width min-h-[75vh] padding-x flex items-center justify-center">
            <div class="flex items-center flex-col relative">
                <p class="text-title-medium text-on-surface-variant">Site vitrine - e-commerce - portfolio</p>
                <h1 class="text-display-small md:text-display-large text-center max-w-4xl mt-4">On construit des
                    sites web <span
                            class="text-gradient">irresistibles</span> à des tarifs accessibles</h1>
                <p class="mt-8 text-body-large mx-auto max-w-xl text-center">Nous créons votre page d'accueil.<br/>
                    Convaincu ? On continue.<br/> Sinon, c'est gratuit.</p>
                <Button href="#contact" className="w-fit mt-12 scale-125" label="Travailler ensemble"/>
                <div style={{
                    background: `radial-gradient(rgb(var(--colors-surface)/1) 0%,rgb(var(--colors-surface)/0) 50%) no-repeat`,
                }} class="absolute top-0 left-0 w-full h-full -z-10 scale-[3]"></div>
            </div>

        </div>
        <!--<LinearGradient nextTheme="purple"/>-->
    </section>
    <section class="padding-y">
        <Realisations max={4}/>
        <Button href={"/nos-realisations"} className="mx-auto mt-8 w-fit" variant="text"
                label="Voir tous les projets"/>
    </section>

    <section class="mx-auto max-w-screen-lg padding relative">
        <Mask/>
        <h2 class="text-display-large text-display-small text-center max-w-screen-sm mx-auto">Les sites Udixio sont
            conçus pour durer
            !</h2>
        <div class="grid lg:max-w-full max-w-screen-sm gap-y-8 mx-auto lg:grid-cols-4 grid-cols-2 lg:gap-24  flex-wrap justify-center mt-12 lg:mt-24 ">

            {
                ['Performance', "Accessibilité", "Fiabilité", "Référencement"].map((text) => (
                        <div class="lg:pt-16 relative">
                            <p class="text-title-large lg:text-headline-small lg:absolute top-4 text-center left-1/2  lg:-translate-x-1/2 lg:-translate-y-1/2">{text}</p>
                            <div class="mx-auto mt-4 lg:mt-0 sm:w-32 w-24 flex aspect-square items-center justify-center rounded-full border-8 border-green-400 bg-green-900/50 backdrop-blur">

                                <p class="text-green-400 text-display-small">
                                    100
                                </p>

                            </div>
                        </div>)
                )
            }

        </div>
        <svg class="w-full absolute translate-y-1/2 fill-primary  bottom-32 left-0 -z-10 opacity-[.07] blur-[2px]"
             width="1194" height="368"
             preserveAspectRatio="xMidYMid meet"

             viewBox="0 0 1194 368"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M605.666 297.423L599.074 300.566L589.191 306.171L579.948 312.809C562.629 325.248 551.179 335.569 538.062 350.567C534.121 355.074 531.035 359.113 531.206 359.542C531.643 360.64 542.37 368.216 542.861 367.774C543.084 367.575 547.105 362.765 551.795 357.087C564.341 341.898 581.278 325.918 592.919 318.287L596.581 315.886L606.625 309.188L615.894 304.321C620.992 301.645 626.963 298.551 629.163 297.445L633.163 295.434L644.628 304.009C679.164 329.842 711.726 339.471 749.793 335.11C762.377 333.668 770.23 331.916 770.481 330.492C770.764 328.888 761.951 317.685 754.915 310.705C746.959 302.812 734.083 293.666 724.649 289.205C720.247 287.123 712.599 284.638 705.441 282.963L693.549 280.182L711.195 278.003C720.901 276.805 731.74 275.559 735.282 275.233L741.724 274.64L746.443 281.043C763.487 304.166 787.85 319.657 814.584 324.371C832.34 327.502 848.772 326.142 871.393 319.671C872.685 319.302 873.893 318.959 875.022 318.639C883.913 316.117 887.827 315.007 888.022 313.436C888.174 312.201 886.025 310.681 882.185 307.965C881.566 307.527 880.903 307.058 880.199 306.554C862.857 294.148 832.337 279.543 810.239 273.073L803.817 271.193L818.008 271.24C825.813 271.266 836.727 270.792 842.262 270.186C847.796 269.58 852.778 269.164 853.332 269.262C853.886 269.36 856.162 271.434 858.39 273.87C875.225 292.281 904.635 300.31 934.181 294.559C952.125 291.066 972.556 282.173 991.108 269.782C999.638 264.084 1002.71 261.524 1001.9 260.784C1000.34 259.362 985.394 256.815 971.539 255.61C958.052 254.437 939.292 254.165 927.672 254.972C923.143 255.286 919.335 255.399 919.211 255.222C919.087 255.044 921.735 254.024 925.096 252.953C933.479 250.284 958.017 241.072 960.109 239.81C961.516 238.962 962.804 239.207 967.477 241.214C977.883 245.683 992.712 247.109 1005.92 244.911C1031.28 240.689 1062.39 221.508 1088.88 193.759C1093.33 189.094 1096.74 184.947 1096.46 184.543C1095.69 183.447 1084.48 185.604 1069.58 189.714C1055.85 193.501 1043.47 197.938 1029.4 204.123L1021.19 207.731L1059.02 180.188L1065.2 180.024C1095.41 179.217 1135.88 149.961 1170.37 103.988C1173.81 99.3927 1176.49 95.426 1176.31 95.1713C1175.69 94.2814 1162.39 99.0474 1152.49 103.707C1142.49 108.417 1125.98 119.123 1113.11 129.245C1109.34 132.211 1107.58 133.27 1109.19 131.6C1110.8 129.93 1116.53 125.284 1121.91 121.276C1151.67 99.1347 1175.42 68.5567 1185.93 38.843C1189.47 28.8416 1194.27 2.46314 1192.9 0.516416C1191.4 -1.62957 1174.61 17.0116 1160.45 36.5569C1148.13 53.5598 1127.06 89.9489 1112.43 119.485C1110.26 123.868 1106.3 129.121 1100.44 135.394C1095.63 140.546 1091.53 144.732 1091.33 144.698C1091.14 144.664 1092.65 142.303 1094.69 139.451C1104.03 126.391 1110.86 110.595 1113.29 96.4394C1114.97 86.6187 1115.07 75.6122 1113.47 75.4881C1110.86 75.2847 1059.92 142.851 1052.66 156.157C1047.39 165.803 1041.76 179.856 1040.66 186.075C1040.16 188.946 1038.45 190.387 1025.46 198.885C1009.49 209.331 1004.1 212.581 1003.02 212.392C1002.64 212.324 1003.94 210.97 1005.92 209.384C1019.16 198.776 1033.02 179.336 1038.43 163.802C1040.76 157.122 1042.24 150.258 1041.39 150.108C1040.55 149.959 1004.94 171.807 993.187 179.687C968.501 196.235 953.395 213.195 945.374 233.369C943.704 237.568 941.649 241.163 940.615 241.697C937.642 243.232 897.416 254.916 897.026 254.358C896.828 254.076 898.54 252.993 900.83 251.951C911.181 247.239 925.584 235.917 933.353 226.386C940.669 217.409 951.693 197.232 950.337 195.296C949.768 194.485 919.01 201.196 907.472 204.65C892.407 209.159 882.428 213.594 872.368 220.25C857.964 229.782 846.348 242.137 838.324 256.462C836.474 259.766 834.382 262.911 833.676 263.453C832.97 263.993 826.509 264.364 819.32 264.275C812.131 264.187 801.904 264.238 796.594 264.39C791.286 264.54 786.677 264.617 786.353 264.56C786.029 264.503 790.127 262.883 795.459 260.96C805.946 257.179 809.01 255.763 820.53 249.374C828.152 245.146 833.652 239.633 843.449 226.395C846.594 222.146 852.244 212.316 852.555 210.553C852.731 209.559 836.063 208.066 820.067 207.645C810.043 207.38 793.716 209.539 784.24 212.38C761.359 219.243 739.498 236.681 727.973 257.26C725.824 261.099 723.818 264.748 723.516 265.369C723.214 265.991 720.272 266.758 716.977 267.076C713.684 267.394 704.685 268.535 696.982 269.613L682.974 271.57L691.24 266.385C705.236 257.604 722.225 240.984 733.291 225.248C738.23 218.224 742.841 210.575 743.174 208.85C743.474 207.307 730.008 207.045 717.641 208.351C703.322 209.864 686.935 214.117 674.746 219.484C654.387 228.447 632.344 248.741 621.511 268.495C618.362 274.236 613.866 285.885 612.947 290.683C612.324 293.931 611.619 294.585 605.666 297.423Z"
            />
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M0.00100431 3.94969C0.0738533 10.7839 3.78404 29.2339 6.85887 38.057C17.424 68.375 41.045 98.9376 71.3312 121.478C76.5607 125.371 82.1236 129.928 83.6918 131.606C86.4149 134.519 86.4278 134.563 83.9629 132.574C64.322 116.723 49.4211 107.252 33.4259 100.456C24.1494 96.5136 16.2623 94.1107 16.4702 95.2895C16.5265 95.6086 20.1871 100.665 24.6046 106.524C47.2198 136.519 76.9206 162.57 100.169 172.8C110.009 177.129 122.696 180.323 129.039 180.069C133.522 179.889 134.5 180.456 152.709 193.787L171.703 207.692L163.528 204.107C150.602 198.439 139.773 194.446 127.145 190.69C113.684 186.689 97.3109 183.379 96.5249 184.501C95.8152 185.515 108.328 198.585 119.131 208.115C129.567 217.32 150.118 231.297 160.438 236.208C169.321 240.434 185.098 244.951 193.804 245.76C202.952 246.61 217.612 244.583 224.896 241.46L230.916 238.88L239.824 242.619C250.237 246.99 272.445 254.7 273.889 254.445C274.437 254.349 275.186 254.608 275.556 255.023C275.924 255.436 271.958 255.458 266.739 255.07C246.949 253.6 219.573 254.894 201.059 258.173C196.185 259.036 191.691 260.203 191.074 260.767C188.585 263.04 219.179 281.282 236.59 287.905C257.676 295.926 275.782 298.144 293.85 294.921C310.378 291.971 324.861 284.481 334.571 273.863C336.798 271.426 339.051 269.356 339.577 269.264C340.103 269.171 345.311 269.58 351.152 270.173C356.992 270.764 367.846 271.242 375.271 271.233L388.77 271.217L379.729 274.008C374.757 275.544 369.039 277.574 367.022 278.519C365.006 279.465 359.715 281.614 355.264 283.297C344.339 287.427 324.464 298.313 312.802 306.556L303.243 313.312L306.521 314.784C318.612 320.218 342.457 325.286 358.636 325.858C373.18 326.373 391.712 322.495 404.242 316.315C420.694 308.2 435.152 296.312 445.544 282.355L451.229 274.72L456.11 275.037C458.795 275.21 469.636 276.437 480.202 277.764L499.412 280.174L487.519 282.956C468.431 287.421 453.875 295.545 438.809 310.144C431.547 317.18 422.207 328.937 422.51 330.658C422.718 331.835 436.016 334.509 446.724 335.528C482.862 338.962 514.379 329.261 547.723 304.438L559.728 295.501L564.524 297.69C567.162 298.893 573.19 301.977 577.919 304.542L586.518 309.206L596.784 315.807L604.985 321.977C619.354 332.786 631.944 345.151 643.991 360.286C647.109 364.204 649.85 367.572 650.082 367.77C650.592 368.206 661.315 360.639 661.756 359.532C662.288 358.196 649.306 343.64 638.636 333.611C633.034 328.345 622.933 319.995 616.191 315.057L603.932 306.078L593.887 300.559L580.884 294.241L579.151 287.762C573.511 266.681 559.714 247.673 537.832 230.837C524.696 220.731 502.776 212.196 482.159 209.162C466.258 206.821 449.394 206.705 449.788 208.938C450.11 210.765 458.017 222.964 463.925 230.75C475.31 245.752 491.498 260.619 504.529 268.038C508.163 270.108 510.428 271.671 509.562 271.514C507.632 271.163 480.569 267.439 474.323 266.665C469.92 266.119 469.7 265.923 466.389 259.596C461.916 251.047 454.884 241.773 447.996 235.335C441.617 229.372 427.779 219.951 420.614 216.692C408.331 211.104 391.824 207.837 375.453 207.751C361.675 207.679 340.202 209.392 340.406 210.546C340.436 210.719 341.599 213.138 342.989 215.922C345.49 220.928 351.781 229.605 360.11 239.536C366.211 246.81 379.719 254.54 397.592 260.985C402.874 262.89 406.961 264.49 406.673 264.541C406.386 264.591 400.451 264.512 393.484 264.362C386.517 264.214 376.273 264.164 370.719 264.252C365.164 264.339 360.028 264.073 359.304 263.66C358.58 263.247 357.182 261.124 356.198 258.941C353.758 253.528 344.771 241.259 338.428 234.681C330.728 226.697 315.638 216.185 305.464 211.72C295.216 207.221 273.554 200.978 255.61 197.351C248.826 195.978 243.017 194.901 242.703 194.957C241.975 195.085 244.01 200.747 247.165 207.371C254.718 223.229 271.02 240.21 287.649 249.54C291.228 251.548 294.014 253.397 293.839 253.647C293.45 254.201 272.67 248.411 259.872 244.182C250.557 241.105 250.542 241.094 249.072 236.636C245.205 224.903 235.373 210.08 223.655 198.315C216.549 191.181 193.161 174.845 169.159 160.251L150.493 148.902L152.546 157.104C156.79 174.068 170.745 195.527 185.83 208.285C188.425 210.481 190.243 212.33 189.871 212.396C189.038 212.543 183.761 209.323 166.338 198.034C153.696 189.843 152.828 189.077 152.207 185.557C151.118 179.379 145.898 166.53 140.072 155.682C134.758 145.787 120.417 125.981 98.627 98.443C92.9775 91.3046 86.5436 82.9591 84.3283 79.8972C82.1129 76.8354 79.8829 74.554 79.3729 74.8287C77.9777 75.5774 78.1285 87.3571 79.6486 96.2716C82.0306 110.241 88.9529 126.251 98.2608 139.316C103.139 146.162 101.528 144.942 91.5735 134.244C87.3165 129.669 82.7094 123.628 81.3336 120.818C69.0374 95.6904 44.5661 53.1069 33.79 38.0859C22.2034 21.9345 2.87346 -0.364651 0.77976 0.00452497C0.328718 0.0840558 -0.0212388 1.8598 0.00100431 3.94969Z"
            />
        </svg>


    </section>


</Layout>