---
import Layout from "../layouts/Layout.astro";
import Obfuscate from 'react-obfuscate';
import {Button, Divider} from "@udixio/ui"
import home1 from "@assets/images/home-1.png";
import home1Left from "@assets/images/home-1-left.png";
import home1Middle from "@assets/images/home-1-middle.png";
import home1Right from "@assets/images/home-1-right.png";
import home1Stars from "@assets/images/home-1-stars.svg";
import {TextField} from "@udixio/ui";
import {Image} from "astro:assets";
import {StickyScroll} from "@components/sticky-scroll-reveal";
import astroLogo from "@assets/images/astro-logo.svg?raw"
import reactLogo from "@assets/images/react-logo.svg?raw"
import nestLogo from "@assets/images/nest-logo.svg?raw"
import expressLogo from "@assets/images/express-logo.svg?raw"
import tsLogo from "@assets/images/ts-logo.svg?raw"
import {Link} from "@components/Link"
import angularLogo from "@assets/images/angular-logo.svg?raw"
import materialLogo from "@assets/images/material-design-logo.svg?raw"
import framerMotionLogo from "@assets/images/framer-motion-logo.svg?raw"
import sassLogo from "@assets/images/sass-logo.svg?raw"
import layoutResponsive from "@assets/images/Responsive-pana.svg"
import flutterLogo from "@assets/images/flutter-logo.svg?raw"
import tailwindLogo from "@assets/images/tailwind-logo.svg?raw"
import baseLogo from "@assets/images/base-logo.svg?raw"
import portrait from "@assets/images/portrait.jpg"
import {FormContact} from "@components/FormContact";
import {BackgroundColor} from "@components/BackgroundColor";
import Project from "@components/Project";
import {Icon} from "@udixio/ui"
import {Card} from "@udixio/ui"
import {
    faAddressCard, faChartNetwork,
    faCircle, faCloud,
    faCode, faCodeBranch, faComments, faGears,
    faLaptopMobile,
    faMessageMiddle, faPhone, faProjectDiagram
} from "@fortawesome/pro-light-svg-icons";
import {Techno} from "@components/Techno"
import {faBrowser, faCircleInfo, faEnvelope,} from "@fortawesome/pro-regular-svg-icons";
import {
    faAndroid,
    faApple,
    faGolang,
    faJava,
    faLinux,
    faNodeJs, faPhp,
    faPython, faSymfony,
    faWindows
} from "@fortawesome/free-brands-svg-icons";
import {Line} from '@components/Line'
import {LinearGradient} from "@components/LinearGradient";
import {getCollection} from "astro:content";


const projects = await getCollection('project');
---
<Layout seo={{
    title: `UDIXIO - Développeur full stack - Spécialiste Astro, React & NestJS`,
    description: "Expert en technologies modernes telles que Astro, NestJS et React ! Joël VIGREUX : Développeur full stack vous accompagne du back-end au frontend",
}}>
    <style is:global>
        .grecaptcha-badge {
            visibility: hidden;
        }
    </style>
    <section id="" class="relative z-20 pt-20 ">
        <div class="max-width min-h-[75vh] padding-x flex items-center justify-center">
            <div class="flex items-center flex-col">
                <p class="text-title-medium text-on-surface-variant">Site vitrine - e-commerce - portfolio</p>
                <h1 class="text-display-large text-center max-w-4xl mt-4">On construit des sites web <span
                        class="text-gradient">irresistible</span> à des tarifs accessible</h1>
                <p class="mt-8 text-body-large mx-auto max-w-xl text-center">Nous créons votre page d'accueil.<br/>
                    Convaincu ? On continue.<br/> Sinon, c'est gratuit.</p>
                <Button className="w-fit mt-12 scale-125" label="Démarrer sans payer"/>
            </div>

        </div>
        <!--<LinearGradient nextTheme="purple"/>-->
    </section>

    <Project projects={projects} client:load></Project>


    <section id="contact" class=" theme-blue py-16 md:py-32 md:pt-64 z-10">

        <div data-aos="zoom-in"
             class=" md:px-6 max-w-screen-2xl mx-auto ">
            <div class="bg-surface-container-highest lg:flex rounded-3xl overflow-hidden">
                <div class="left flex-1 padding !pb-12 pt-8">
                    <div class="flex gap-4 group rounded-xl mt-2">
                        <div class="transition-all duration-300 flex items-center  justify-center rounded-lg  h-12 w-12 border border-outline-variant">
                            <Icon className="h-6 w-6 fill-on-surface-variant" icon={faComments}></Icon>
                        </div>
                        <div><p class="text-title-small mt-0.5">Discuter avec nous</p>
                            <div class="text-on-surface-variant max-w-prose text-body-small">
                                <p class="mt-1">Je suis là pour vous aider.</p>
                                <Obfuscate
                                        client:visible
                                        className="mt-4 inline-block underline-offset-4 underline !text-bold text-secondary focus-visible:text-primary hover:text-primary"
                                        email={import.meta.env.PUBLIC_EMAIL_TO}
                                        headers={{
                                            body: `Bonjour,

Je m'appelle [Nom], et je souhaiterais vous parler d'un projet. Voici quelques détails :

Projet : [Brève description]
Objectifs : [Principaux objectifs]
Délai : [Délai souhaité]
Budget : [Budget estimé]
Je suis disponible pour en parler. Vous pouvez me contacter par email à [Votre Email] ou au [Votre Numéro].

Cordialement,

[Nom]`,
                                        }}
                                />
                            </div>
                        </div>
                    </div>
                    <!--<div class="flex gap-4 mt-12 group rounded-xl ">-->
                    <!--    <div class="transition-all duration-300 flex items-center  justify-center rounded-lg  h-12 w-12 border border-outline-variant">-->
                    <!--        <Icon className="h-6 w-6 fill-on-surface-variant" icon={faPhone}></Icon>-->
                    <!--    </div>-->
                    <!--    <div><p class="text-title-small mt-0.5">Discuter avec nous</p>-->
                    <!--        <div class="text-on-surface-variant max-w-prose text-body-small">-->
                    <!--            <p class="mt-1">Notre équipe est là pour vous aider.</p>-->
                    <!--            <Link className="mt-4 block" href="mailto:example@gmaim.com">example@gmaim.com-->
                    <!--            </Link>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                </div>
                <div class="right padding bg-surface-container-low flex-2 m-2 pt-8 rounded-2xl">
                    <h2 class="text-display-small max-w-prose"><span
                            class="text-gradient">Restons en contact</span><br/>
                        pour
                        donner vie à votre projet !</h2>
                    <p class="mt-4 max-w-prose">Partagez les détails de votre projet, vos idées et découvrons
                        ensemble comment
                        je
                        peux vous
                        accompagner
                        dans sa réalisation.</p>
                    <FormContact client:only="react"/>
                </div>

            </div>
        </div>
    </section>

</Layout>