---
import {getCollection} from "astro:content";
import Layout from "@layouts/Layout.astro";
import {Button, Card, classNames} from "@udixio/ui";
import {BackgroundColor} from "@components/BackgroundColor";
import {faArrowRight} from "@fortawesome/pro-regular-svg-icons";
import type {ProjectProps} from "./Project";
import {getImage} from "astro:assets";


const {max} = Astro.props;

const realisations = await getCollection('realisation');
realisations.sort((a, b) => (a.data.order ?? Infinity) - (b.data.order ?? Infinity));

const images = import.meta.glob('@assets/renders/*.webp', {eager: true});

const projectsProps: ProjectProps[] = (await Promise.all(
    realisations.map(async (realisation) => {
        if (!realisation.data.images.background) {

            const imageFileName = `${realisation.id}.webp`;

            const imageEntry = ((Object.entries(images).find(([path]) =>
                path.endsWith(imageFileName)
            ))?.[1] as any).default;

            const background = await getImage({src: imageEntry, format: 'webp', width: 800});

            realisation.data.images.background = {
                src: background.src,
                alt: "",
            };
        }

        return {
            slug: realisation.id,
            ...realisation.data,
            images: {
                ...realisation.data.images,
                background: realisation.data.images.background,
            },
        }
    })
))

const visibleProjects = max ? projectsProps.slice(0, max) : projectsProps;
---

<div class="max-width padding-x gap-x-8 gap-y-16  md:gap-y-32 grid grid-cols-1 sm:grid-cols-[repeat(20,minmax(0,1fr))] ">
    {
        visibleProjects.map((realisation, index) => {
            const isTrue = [0, 3, 4, 7].includes(index % 8); // Détermine "true" ou "false"


            return (
                    <a class={classNames('col-span-1 row-span-1',
                        {
                            "sm:col-[_span_11_/_span_11] sm:aspect-[10/7] ": isTrue,
                            "sm:col-[_span_9_/_span_9] sm:aspect-[8/9]": !isTrue,
                            "self-end": index % 4 == 0,
                            'sm:-mt-[25%] ': (index % 4 === 1) && (index != 0 && index != 1)
                        }
                    )} href={"/nos-realisations/" + realisation.slug}>
                        <Card isInteractive variant="outlined"
                              className=" flex flex-col h-full group bg-surface/60 backdrop-blur transition-all duration-300 !rounded-2xl"

                              style={{
                                  viewTransitionName: "realisation-" + realisation.slug,
                              }}>


                            <div class="w-full flex-1 rounded-2xl overflow-hidden relative bg-surface">
                                <img loading="lazy" class={classNames(
                                    "w-full h-full aspect-video group-hover:scale-[1.1] object-cover duration-700 transition-all ",
                                    'group-hover:opacity-50'
                                )}
                                     src={realisation.images.background.src}
                                     height="1920"
                                     width="1080">

                            </div>
                            <div class="p-4 gap-4 flex flex-col md:flex-row md:justify-between md:items-center">
                                <div class="flex-1">
                                    <p class="text-title-large">{realisation.title}</p>
                                    <p class="text-title-small mt-2">{realisation.summary}</p>
                                </div>
                                <Button iconPosition="right" icon={faArrowRight} label="Découvrir"
                                        className={classNames(
                                            "  transition-all duration-300",
                                            " lg:opacity-0 lg:invisible",
                                            'group-hover:opacity-100 group-hover:visible'
                                        )}
                                />

                            </div>
                        </Card>
                    </a>
            )
        })
    }
</div>
