---
import {getCollection} from "astro:content";
import Layout from "@layouts/Layout.astro";
import {Card} from "@udixio/ui";

const projects = await getCollection('project');
projects.sort((a, b) => (a.data.order ?? Infinity) - (b.data.order ?? Infinity));

const gap = '16px'
---
<Layout seo={{
    title: `Agence de conseil en stratégie digitale écoresponsable & SEO • udixio.fr`,
    description: "Udixio est une agence experte dans la création de sites web éco-conçus et optimisés pour le SEO. Optez pour des solutions digitales durables et performantes.",
}}>

    <section id="" class="relative z-20 pt-20 md:pt-32">
        <div style={{gap}} class="max-width padding-x flex flex-wrap">
            {
                projects.map((project) => (
                        <a style={{
                            width: "calc(" + 1 / 2 * 100 + "% - " + gap + ")"
                        }} href={"/projects/" + project.id}>
                            <Card isInteractive variant="filled"

                                  style={{
                                      viewTransitionName: "project-" + project.id,
                                  }}>


                                <img class="rounded-xl w-full" src={project.data.image.src} height="1920"
                                     width="1080">


                                <div class="p-4 ">
                                    <p class="text-title-medium">{project.data.title}</p>
                                </div>

                            </Card>
                        </a>

                ))
            }
        </div>

    </section>
</Layout>