---
import {faComments} from "@fortawesome/pro-light-svg-icons";
import Obfuscate from "react-obfuscate";
import {Icon} from "@udixio/ui";
import {FormContact} from "../components/FormContact";
---

<section id="contact" class=" theme-blue py-16 md:py-32 md:mt-32 z-20">

    <div

            class=" md:px-6 max-w-screen-2xl mx-auto ">
        <div class="bg-surface-container-highest lg:flex rounded-3xl overflow-hidden">
            <div class="left flex-1 padding !pb-12 pt-8">
                <div class="flex gap-4 group rounded-xl mt-2">
                    <div class="transition-all duration-300 flex items-center  justify-center rounded-lg  h-12 w-12 border border-outline-variant">
                        <Icon className="h-6 w-6 fill-on-surface-variant" icon={faComments}></Icon>
                    </div>
                    <div><p class="text-title-small mt-0.5">Discuter avec nous</p>
                        <div class="text-on-surface-variant max-w-prose text-body-small">
                            <p class="mt-1">Je suis là pour vous aider.</p>
                            <Obfuscate
                                    client:visible
                                    className="mt-4 inline-block underline-offset-4 underline !text-bold text-secondary focus-visible:text-primary hover:text-primary"
                                    email={import.meta.env.PUBLIC_EMAIL_TO}
                                    headers={{
                                        body: `Bonjour,

    Je m'appelle [Nom], et je souhaiterais vous parler d'un projet. Voici quelques détails :

    Projet : [Brève description]
    Objectifs : [Principaux objectifs]
    Délai : [Délai souhaité]
    Budget : [Budget estimé]
    Je suis disponible pour en parler. Vous pouvez me contacter par email à [Votre Email] ou au [Votre Numéro].

    Cordialement,

    [Nom]`,
                                    }}
                            />
                        </div>
                    </div>
                </div>
                <!--<div class="flex gap-4 mt-12 group rounded-xl ">-->
                <!--    <div class="transition-all duration-300 flex items-center  justify-center rounded-lg  h-12 w-12 border border-outline-variant">-->
                <!--        <Icon className="h-6 w-6 fill-on-surface-variant" icon={faPhone}></Icon>-->
                <!--    </div>-->
                <!--    <div><p class="text-title-small mt-0.5">Discuter avec nous</p>-->
                <!--        <div class="text-on-surface-variant max-w-prose text-body-small">-->
                <!--            <p class="mt-1">Notre équipe est là pour vous aider.</p>-->
                <!--            <Link className="mt-4 block" href="mailto:example@gmaim.com">example@gmaim.com-->
                <!--            </Link>-->
                <!--        </div>-->
                <!--    </div>-->
                <!--</div>-->
            </div>
            <div class="right padding bg-surface-container-low flex-2 m-2 pt-8 rounded-2xl">
                <h2 class="text-display-small max-w-prose"><span
                        class="text-gradient">Restons en contact</span><br/>
                    pour
                    donner vie à votre projet !</h2>
                <p class="mt-4 max-w-prose">Partagez les détails de votre projet, vos idées et découvrons
                    ensemble comment
                    je
                    peux vous
                    accompagner
                    dans sa réalisation.</p>
                <FormContact client:only="react"/>
            </div>

        </div>
    </div>
</section>
<footer class="relative">
    <p class="text-body-small text-on-surface mx-auto text-center mb-4">© 2025 Concu avec ❤️ par
        Udixio</p>
</footer>