---
import {getCollection} from "astro:content";
import Layout from "@layouts/Layout.astro";
import {Button, Card, classNames} from "@udixio/ui";
import {BackgroundColor} from "../../components/BackgroundColor";

const realisations = await getCollection('realisation');
realisations.sort((a, b) => (a.data.order ?? Infinity) - (b.data.order ?? Infinity));
---
<Layout seo={{
    title: `Agence de conseil en stratégie digitale écoresponsable & SEO • udixio.fr`,
    description: "Udixio est une agence experte dans la création de sites web éco-conçus et optimisés pour le SEO. Optez pour des solutions digitales durables et performantes.",
}}>

    <section class="relative z-20 pt-20 bg-surface/50">
        <div class="max-width min-h-[50vh] padding-x flex items-center justify-center">
            <div class="flex items-center flex-col">
                <h1 class="text-display-small md:text-display-large text-center max-w-4xl mt-4">Nos réalisations</h1>
                <p class="mt-8 text-body-large mx-auto max-w-prose text-center">Chaque réalisation de notre agence
                    digitale
                    Udixio est une rencontre unique entre innovation et créativité, pensée pour atteindre vos objectifs
                    commerciaux avec succès</p>
                <!--<Button href="#contact" className="w-fit mt-12 scale-125" label="Démarrer sans payer"/>-->
            </div>

        </div>
    </section>
    <section id="" class="relative pt-20 md:pt-32">
        <BackgroundColor client:load canEscape={true} count={6} radius={600}
                         className="opacity-100 -z-10 top-0 h-screen w-screen !fixed"/>
        <div class="max-width padding-x gap-x-16 gap-y-32 grid grid-cols-1 sm:grid-cols-5 ">
            {
                realisations.map((realisation, index) => {
                    const isTrue = [0, 3, 4, 7].includes(index % 8); // Détermine "true" ou "false"

                    return (
                            <a class={classNames('',
                                {
                                    "col-span-3 aspect-[3/2]": isTrue,
                                    "col-span-2 row-span-2  aspect-[2/3]": !isTrue,
                                    'mt-8': (index % 4 === 0 || index % 4 === 1),
                                    'self-end': !(index % 4 === 0 || index % 4 === 1)
                                }
                            )} href={"/nos-realisations/" + realisation.id}>
                                <Card isInteractive variant="filled" className="p-2 flex flex-col h-full group"

                                      style={{
                                          viewTransitionName: "realisation-" + realisation.id,
                                      }}>


                                    <div class="w-full flex-1 rounded-xl overflow-hidden">
                                        <img class="w-full h-full group-hover:scale-[1.1] object-cover duration-300 transition-all"
                                             src={realisation.data.images.background.src}
                                             height="1920"
                                             width="1080">
                                    </div>


                                    <div class="p-4 ">
                                        <p class="text-title-large">{realisation.data.title}</p>
                                        <p class="text-title-small mt-2">{realisation.data.summary}</p>
                                    </div>
                                </Card>
                            </a>
                    )
                })
            }
        </div>

    </section>
</Layout>